#main-header {
    background-color: inherit;
    color: #c3073f;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-heading {
    border-bottom: 5px dotted #c3073f;
}

#author {
    font-size: 0.8em;
    color: #e3e2df;
}