#body {
    width: 100%;
}

#title input, #body textarea {
    font-family: 'Lato', sans-serif;
    border: 1px solid #c3073f;
    background-color: #4e4e50;
    color: #fff;
    width: 25em;
    margin-top: 0.5rem;
}

#title input {
    height: 2em;
}

#body textarea {
    height: 5em;
}

#title label, #body label {
    font-weight: 600;
}

button {
    border: 1px solid #c3073f;
    padding: 10px;
    font-weight: 600;
    background-color: inherit;
    border-radius: 20px;
    color: #fff;
}

button:hover {
    color: #fff;
    background-color: #c3073f;
}